<div class="topic">
    <h1 class="text-center">Password Manager</h1>
</div><br>

<div class="login-form">
    <form #passwordForm="ngForm">
        <table style="width: 100%;">
            <tr>
                <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Address..." required>
            </tr>
            <tr *ngIf="!isUserChecked">
                <td><input type="submit"  (click)="onCheckPresentUser()" value="Search" ></td>
            </tr>
            <!-- <tr>
                <div *ngIf="nameInput.invalid && nameInput.touched" class="error-message">
                    <small *ngIf="nameInput.errors?.['required']">Name is required.</small>
                    <small *ngIf="nameInput.errors?.['minlength']">Name must be at least 3 characters long.</small>
                </div>
            </tr> -->

            <table style="width: 100%;"  *ngIf="isUserChecked">

            <tr>
                <td><input type="password" id="pwd" name="pwd" [(ngModel)]="user.password" placeholder="New Password..." required minlength="6" #passwordInput></td>
            </tr>
            <!-- <tr>
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
                    <small *ngIf="passwordInput.errors?.['required']">Password is required.</small>
                    <small *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 characters long.</small>
                </div>
            </tr> -->

            <tr>
                <td><input type="password" id="repwd" name="repwd" placeholder="Confirm Password..." required #repeatPasswordInput></td>
            </tr>
            <!-- <tr>
                <div *ngIf="repeatPasswordInput.touched && repeatPasswordInput.value !== passwordInput.value" class="error-message">
                    <small>Passwords do not match.</small>
                </div>
            </tr> -->

            <tr>
                <td><hr></td>
            </tr>

            <tr>
                <td><input type="submit" value="Change Password" (click)="onSubmit()"></td>
            </tr>
        </table>
            
        </table>
        <br>
        
        <br><br>
    </form>
</div>
<br><br><br><br><br>


