<br>
<div class="research-box">
    
    <div *ngIf="student.registrationNumber"><h4><b>{{ student.registrationNumber }}</b></h4></div>
    <div *ngIf="!student.registrationNumber"><h4><b>{{ student.regNumber }}</b></h4></div>

    <h6>{{ student.nameWithInitials }}</h6>
    <h6>{{ student.programOfStudy }}</h6>
    <h6>Registered Date</h6>
    <h6>{{ student.status }}</h6>

    <hr style="margin: 0px; margin-bottom: 8px; color: #c0c0c0; border-width: 1px; margin-top: 5px;">


    <br>
    <h5><b>Research</b></h5>
    <br>
    <h6>Effective Date of Degree:</h6>

    <!-- Display Supervisor  -->
    <span *ngIf="supervisorName"><h6>Current Supervisor: {{ supervisorName }}</h6></span>
    <br>

    <!-- Tabs for Student -->
    <div class="tabs" style="cursor: pointer;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'tab1'" (click)="selectTab('tab1')">Year 1</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'tab2'" (click)="selectTab('tab2')">Year 2</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'tab3'" (click)="selectTab('tab3')">Year 3</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'tab4'" (click)="selectTab('tab4')">Year 4</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'tab5'" (click)="selectTab('tab5')">Thesis</a>
            </li>
        </ul>

        <div class="tab-content">

            <div *ngIf="activeTab === 'tab1'">
                <!-- Content for Tab 1 -->
                <app-collapsible-section *ngFor="let section of loadingSections" [buttonName]="section.buttonName" [tiles]="section.loadingTiles" ></app-collapsible-section>

            </div>

            <div *ngIf="activeTab === 'tab2'">
            <!-- Content for Tab 2 -->
                <app-collapsible-section *ngFor="let section of loadingSections" [buttonName]="section.buttonName" [tiles]="section.loadingTiles"></app-collapsible-section>

            </div>

            <div *ngIf="activeTab === 'tab3'">
                <!-- Content for Tab 3 -->
                <app-collapsible-section *ngFor="let section of loadingSections" [buttonName]="section.buttonName" [tiles]="section.loadingTiles"></app-collapsible-section>

            </div>

            <div *ngIf="activeTab === 'tab4'">
            <!-- Content for Tab 3 -->
                <app-collapsible-section *ngFor="let section of loadingSections" [buttonName]="section.buttonName" [tiles]="section.loadingTiles"></app-collapsible-section>

            </div>

            <div *ngIf="activeTab === 'tab5'">
                <!-- Content for Tab 3 -->
                <app-collapsible-section *ngFor="let section of loadingSections" [buttonName]="section.buttonName" [tiles]="section.loadingTiles"></app-collapsible-section>
            
            </div>

        </div>
    </div>

<br>
<br>
<br>
<br>
</div>