<h3>M.Phil. & Ph.D. Research</h3>

<p></p>
<p></p>


<p><b>Research Leading to Ph.D. Degree</b></p>

<table  cellspacing=0 cellpadding=0 style='width:390pt'>
	<thead style='background:#FDE9D9'>
		<th style='height:20pt'>Registration No.</th>
		<th style='height:20pt'>Name/Department</th>
		<th style='height:20pt'>Supervisor(s)</th>
		<th style='height:20pt'>Research Topic</th>
	</thead>
	
<tbody style='text-align:left;background:#B8CCE4'>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/03</td>
			<td style='text-align:left;padding-left:5px'>Ms.J. A. N. N. Jayakodi<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. S. K. navaratnarajah<br>Dr. M. C. M. Nasvi<br>Dr. L. C. Kurukulasuriya</td>
			<td style='text-align:left;padding-left:5px'>Prioritization model for road pavement maintenance prediction in Sri Lanka considering cross assets</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/04</td>
			<td style='text-align:left;padding-left:5px'>Mr.D.M. A. G. B. Dissanayake<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Prof. P. B. R. Dissanayake<br>Dr. A. J. Dammika<br>Dr. C. S. Bandara<br>Dr. J. A. S. C. Jayasinghe<br>Prof. S. A. S. C. Siriwardhane</td>
			<td style='text-align:left;padding-left:5px'>Structural health monitoring of steel structures: A technique of damage detection and localization based on vibration measurements</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/08</td>
			<td style='text-align:left;padding-left:5px'>Mr.B. V. Lakshman<br><br>Electrical & Electronic Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. J. V. Wijayakulasooriya<br><br>Dr. T.M. S. S. K. Yatigammana</td>
			<td style='text-align:left;padding-left:5px'>Analysis and Profiling Students' Performance using Machine Learning</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/09</td>
			<td style='text-align:left;padding-left:5px'>Mr. M. Lorence<br><br>Computer Engineering</td>
			<td style='text-align:left;padding-left:5px'>Prof. Roshan  G. Ragel<br>Dr. S. N. Karunarathna</td>
			<td style='text-align:left;padding-left:5px'>Performance Enhancement of Live Virtual Machine Migration in SDN Framework</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/15</td>
			<td style='text-align:left;padding-left:5px'>Mr. J. J. L.Jayawardhana<br><br>Manufacturing & Industrial Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. A.K. Kulatunga<br>Prof.G. Kevin Zhang<br>Dr. J. A. S. C. Jayasinghe<br>Dr. M. Sandanayake</td>
			<td style='text-align:left;padding-left:5px'>Investigating the sustainability of modern construction practices-focusing on prefabricated and modular construction</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/16</td>
			<td style='text-align:left;padding-left:5px'>Mr.T. M. S .Tennekoon<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Prof. K. K. Wijesundara, <br>Prof. P. B. R. Dissanayake</td>
			<td style='text-align:left;padding-left:5px'>Impact of natural hazardous and their consequences on cascades od dams in Mahaweli river basin, Sri Lanka</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/20/17</td>
			<td style='text-align:left;padding-left:5px'>Ms. A. A. S. E. Abesinghe<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Prof. R. Dissanayake<br>Dr. C.S. Bandara
</td>
			<td style='text-align:left;padding-left:5px'>Optimizes Prefabrication of Construction Elements Using Recycled HDPE Concrete Mixes</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/07</td>
			<td style='text-align:left;padding-left:5px'>Ms.P.D.P.O.Peramuna<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. Saman de Silva<br>Dr. Srikanth Venkatesan</td>
			<td style='text-align:left;padding-left:5px'>Numerical simulation of cascade dam breach floods due to natural hazards in Mahaweli river basin, Sri Lanka</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/09</td>
			<td style='text-align:left;padding-left:5px'>Ms.H.C.Egodagamage<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. H. D. Yapa<br>Dr. H. A. D. S. Buddika<br>Dr. Kate Nguyen</td>
			<td style='text-align:left;padding-left:5px'>Engineering performance of waste material blended lightweight alkali-activated slag concrete</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/10</td>
			<td style='text-align:left;padding-left:5px'>Ms.M.M.A.L..N.Maheepala<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. M. C. M. Nasvi<br>Dr. L. C. Kurukulasuriya<br>Dr. Dilan Robert<br>Dr. Chamila Gunasekara</td>
			<td style='text-align:left;padding-left:5px'>Geopolymer based soil stabilization for expansive road subgrades</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/12</td>
			<td style='text-align:left;padding-left:5px'>Ms. T. Thevega<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. L. A. S. C. Jayasinghe<br> Dr. C. S. Bandara</td>
			<td style='text-align:left;padding-left:5px'>Novel uses of glass recycling technology in building claddings</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/13</td>
			<td style='text-align:left;padding-left:5px'>Ms.  S. V Sathya<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. C. S. bandara<br>Prof. P. B. R. Dissanayake</td>
			<td style='text-align:left;padding-left:5px'>Optimum data collection for structural integrity management of railway infrastructure</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/17</td>
			<td style='text-align:left;padding-left:5px'>Mr.S.M.K.C.S.B.Egodawela<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Dr. S. Budika<br>A. J. Dammika<br>W. A. N. I. Harishchandra<br>M. Mahmoodian<br>Amirali K Gostar
</td>
			<td style='text-align:left;padding-left:5px'>Structural Defect Detection and Qualification Using High Resolution Image Processing</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/21/18</td>
			<td style='text-align:left;padding-left:5px'>Mr. R. M. M. P.Rathnayaka<br><br>Civil Engineering</td>
			<td style='text-align:left;padding-left:5px'>Prof. K. K. Wijesundara<br>, Prof. D. S. K. Karunasinghe</td>
			<td style='text-align:left;padding-left:5px'>Development of standard mix design procedure and performance-based guideline for low calcium fly ash geopolymer concrete</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/22/02</td>
			<td style='text-align:left;padding-left:5px'> Ms .M. K. D. C. K. Chandrasiri<br><br>Manufacturing & Industrial Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. K. M. A. K. Kulathunga<br> Dr. U. S. S. Dharmapriya </td>
			<td style='text-align:left;padding-left:5px'> Design and development of a decision support system to reconfigure fruit and vegetable supply chain to enhance the food security </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/22/03</td>
			<td style='text-align:left;padding-left:5px'> Mr. A.W.K.Arif<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. P. B. G. Dissanayake<br>Dr. C. K. Pathirana<br>Dr. Wasantha Illangasinghe </td>
			<td style='text-align:left;padding-left:5px'> Assessment of causes and effects of contractual disputes in water supply projects and way forward </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/22/04</td>
			<td style='text-align:left;padding-left:5px'> Mr. S.S.Wijesinghe<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'>*</td>
			<td style='text-align:left;padding-left:5px'>*</td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/22/08</td>
			<td style='text-align:left;padding-left:5px'> Mr. R.M.Rajapaksha<br><br>Engineering Management </td>
			<td style='text-align:left;padding-left:5px'> Dr. S. B. Wijekoon<br>Dr. W. M. D. S. B. Navaratna<br>Mr. S. M. Dissanayaka </td>
			<td style='text-align:left;padding-left:5px'> Evaluation of impacts of disputes in the performance of construction contracts in Sri Lanka </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'>PG/PhD/22/10</td>
			<td style='text-align:left;padding-left:5px'>Mr. W.B.P.K.Roshan<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'>Prof.Roshan G.Ragel<br>Dr. Isuru Nawinne </td>
			<td style='text-align:left;padding-left:5px'> A Mixed  -Reality Based Swarm Robotics Multi  -Agent System for Search and Rescue </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/23/06</td>
			<td style='text-align:left;padding-left:5px'> Mr. N. Sivaraj<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. r. G. Ragel<br>Prof. S. Vasanthapriyan </td>
			<td style='text-align:left;padding-left:5px'> EEG. Based Emotion Recognition Using Ensemble Methods </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/PhD/23/07</td>
			<td style='text-align:left;padding-left:5px'> Mr. K. Santhanakrishnan<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. M.Siyamalan<br>Pof. R. G. Ragel<br>Dr. S. Thuseethan </td>
			<td style='text-align:left;padding-left:5px'> Semi - Supervised Learning for  Imbalanced Classification of Skin Lesions </td>
</tr>

	
</tbody>
</table>


<p><b>Research Leading to M.Phil. Degree</b></p>

<table border=1 cellspacing=0 cellpadding=0 style='width:390pt'>
	<thead style='background:#FDE9D9'>
		<th style='height:20pt'>Registration No.</th>
		<th style='height:20pt'>Name/Department</th>
		<th style='height:20pt'>Supervisor(s)</th>
		<th style='height:20pt'>Research Topic</th>
	</thead>
	
	<tbody style='text-align:center;background:#B8CCE4'>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/Mphil/20/01</td>
			<td style='text-align:left;padding-left:5px'> Ms.K.Jegetheeswaran<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. K. B. S .N. Jinadasa<br>Dr. S. K. Weragoda<br>Dr. R. l. M. D. Rathnayake </td>
			<td style='text-align:left;padding-left:5px'> Fouling Mechanism in Nano filtration Membrane During the Filtration of Groundwater with High Hardness and Dissolve Organic Matter </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/Mphil/20/02</td>
			<td style='text-align:left;padding-left:5px'> Mr.R.Vandebona<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. A. G. H. J. Edirisinghe<br>Dr. H. A. Lakmal </td>
			<td style='text-align:left;padding-left:5px'> Modelling Road Traffic Accidents Using 3D Geographic Information System (GIS)</td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/Mphil/20/052</td>
			<td style='text-align:left;padding-left:5px'> Mr. M. D. Y. N. Lamawansa <br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. K. K. Wijesundara </td>
			<td style='text-align:left;padding-left:5px'> Post-peak behaviour of reinforced concrete elements </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/06</td>
			<td style='text-align:left;padding-left:5px'> Ms. J. Shaleem<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> D. M. A. U. S. Navaratne<br>Prof. J. B. Ekanayake </td>
			<td style='text-align:left;padding-left:5px'> Agent Based Modelling of Medium Voltage and Low Voltage Network for Simulation in Complex Scenarios </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/07</td>
			<td style='text-align:left;padding-left:5px'> Ms. M. B. D. Pavithya<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshan G. Ragel<br>Dr. H. Gamaarachchi </td>
			<td style='text-align:left;padding-left:5px'> Hardware Acceleration of Deep Neural Network Based Genome Basecalling for Nanopore Sequencing </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/10</td>
			<td style='text-align:left;padding-left:5px'> Mr. M. S. S.Perera<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. L. Samaranayake<br>Dr. N. Harischandra </td>
			<td style='text-align:left;padding-left:5px'> Visual Serving for Mobile Robotic Manipulators </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/11</td>
			<td style='text-align:left;padding-left:5px'> Mr. H. M. S. M.Herath<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. D. N .Uduwawala<br>Dr. J. M. J. W. Jayasinghe </td>
			<td style='text-align:left;padding-left:5px'> Performance Improvement of Printed Log - Periodic Dipole Array Antennas Using Multi - Objective Optimization </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/12</td>
			<td style='text-align:left;padding-left:5px'> Ms.H. M. W. M.Hippola<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr.I. Nawinne<br>Prof. Ropsha G. Ragel </td>
			<td style='text-align:left;padding-left:5px'> Memory Optimization for FPGA Based Hardware Accelerators for CNN </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/13</td>
			<td style='text-align:left;padding-left:5px'> Ms. K.Rajavijayana<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. J. A. S. C. Jayasinghe<br>Prof. S. Kumar </td>
			<td style='text-align:left;padding-left:5px'> use of Smart Hybrid Connections to Improve the Lateral Performance of Cross Wall Modular Buildings </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/14</td>
			<td style='text-align:left;padding-left:5px'> Mr. S. M. A. J. Senanayake<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshan G. Ragel<br>Dr. Hasindu Gamaarachchi Dr. Damayanthi Herath </td>
			<td style='text-align:left;padding-left:5px'> Deep neural network based selective sequencing for oxford nanopore sequencing </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/20/19</td>
			<td style='text-align:left;padding-left:5px'> Mr. G. G. H. M. T. R. Bandara<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. K. Samarakoon </td>
			<td style='text-align:left;padding-left:5px'> Vison Based Plant Classification for Autonomous Agricultural Robots </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/01</td>
			<td style='text-align:left;padding-left:5px'> Mr.P. M. G. D. M. Herath<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. W.M.V.S.K.Wickramasinghe<br>Dr. A.G.H.J.Edirisinghe<br>Dr. W.R.S.S. Dharmarathna </td>
			<td style='text-align:left;padding-left:5px'> Analysis of Network Features and Evaluation of Passenger Satisfaction Level for Enhancing Bus - Based Public </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/02</td>
			<td style='text-align:left;padding-left:5px'> Mr. W. A. C Dushyantha<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. A. J. Dammika<br>Dr. H. A. D.S. Buddika </td>
			<td style='text-align:left;padding-left:5px'> Numerical Simulation of  Concrete  -Filled Double Steel Tubular Columns Under Cyclic Loading </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/03</td>
			<td style='text-align:left;padding-left:5px'> Mr.H.K.I.S.Lakmal<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. M. B. Dissanayaka </td>
			<td style='text-align:left;padding-left:5px'> Driver assisted vision system for night driving </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/04</td>
			<td style='text-align:left;padding-left:5px'> Mr.W.M.D.B.Wanninayaka<br><br>Chemical & Process Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. W. M. J. A. S. B. Manipura<br>Dr. W. A. R. Manamperi </td>
			<td style='text-align:left;padding-left:5px'> Development and  Characterization of Cassava Starch  -Based Hydrogel for Engineering Applications </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/05</td>
			<td style='text-align:left;padding-left:5px'> Ms.O.H.P.Gunawardane<br><br>Chemical & Process Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. W.M.V.S.K.Wickramasinghe<br>Dr. A.G.H.J.Edirisinghe<br>Dr. W.R.S.S. Dharmarathna </td>
			<td style='text-align:left;padding-left:5px'> Development Characterization and Investigation of Compatibilized Cassava Starch / Synthetic Biodegradable Polymer Blends for Engineering Applications </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/Mphil/21/06</td>
			<td style='text-align:left;padding-left:5px'> Ms.L.C.D.Wickramasinghe<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. M. B. Dissanayake </td>
			<td style='text-align:left;padding-left:5px'> Smartphone based Position Estimating and Tracking </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/08</td>
			<td style='text-align:left;padding-left:5px'> Mr.P.Premathilaka<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. S. G. Abeyratne <br>Prof. A. U. W. A. Gunawardane </td>
			<td style='text-align:left;padding-left:5px'> Power Electronic  Converter for Maximizing the Power Extraction from Themo Electric Generators used for Waste Heat Recovery from Auto Mobiles </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/11</td>
			<td style='text-align:left;padding-left:5px'> Ms. M.M.T.Lakshani<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. D. T. K. K. Chamindu </td>
			<td style='text-align:left;padding-left:5px'> Experimental and numerical investigation of greenhouse gas emission from paddy ecosystem: critical windows of water and gas diffusivity </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/14</td>
			<td style='text-align:left;padding-left:5px'> Ms. W. A. Wijethunge<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. A. J. Dammika<br>Dr. C. S. Bandara </td>
			<td style='text-align:left;padding-left:5px'> Numerical investigation of lateral distortional buckling in steel - concrete composite beams </td>
</tr>
<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/15</td>
			<td style='text-align:left;padding-left:5px'> Ms. A.A.H.V.Athauda<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshab G. Ragel<br>Dr. Upul jayasinghe </td>
			<td style='text-align:left;padding-left:5px'> Real-time face emotion recognition system to improve learners engagement in live online learning </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/16</td>
			<td style='text-align:left;padding-left:5px'> Ms. J.M.P.D.L.B.Jayasundara<br><br>Chemical & Process Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. M. A. Elangasinghe </td>
			<td style='text-align:left;padding-left:5px'> Meso  -Scale and Micro  -Scale Modelling o Air Pollution Dispersion in Urban Environments </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/21/19</td>
			<td style='text-align:left;padding-left:5px'> Mr. M. Rasendram<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshab G. Ragel<br>Dr. Upul jayasinghe </td>
			<td style='text-align:left;padding-left:5px'> Atmospheric dust interference evaluation in the TD-LTE and beyond wireless networks </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/Mphil/22/01</td>
			<td style='text-align:left;padding-left:5px'> Ms. P. Mylvaganam<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. M. B. Dissanayake </td>
			<td style='text-align:left;padding-left:5px'> Region detection with deep leaning for unmanned aerial vehicle (UAV) based imagery </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/05</td>
			<td style='text-align:left;padding-left:5px'> Mr. S. S. Iyer<br><br>Manufacturing & Industrial Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. A. Kulathunga<br>Dr. U.S.S.Darmapriya<br>Mr. Mahanama Dharmawardhana<br>Dr. Maleen Jayasuriya </td>
			<td style='text-align:left;padding-left:5px'> Design and development of digital twin enabled manufacturing system </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/06</td>
			<td style='text-align:left;padding-left:5px'> Mr.W.C.D.Fenando<br><br>Manufacturing & Industrial Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. Chamila walgampaya </td>
			<td style='text-align:left;padding-left:5px'> Navel solution for click frond detection in distal platforms </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/07</td>
			<td style='text-align:left;padding-left:5px'> Mr. B.H.J.Bulathsinghala<br><br>Engineering Management </td>
			<td style='text-align:left;padding-left:5px'> Ms. K.K.K.Sylva </td>
			<td style='text-align:left;padding-left:5px'> Development of a strategic asset management framework for semi-government engineering institutions in Sri Lanka </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/09</td>
			<td style='text-align:left;padding-left:5px'> Mr. G. Romiyal<br><br>Computer Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshab G. Ragel<br>Dr. Selvarajah Thuseethan </td>
			<td style='text-align:left;padding-left:5px'> In-field plant disease recognition using lightweight deep neural networks </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/11</td>
			<td style='text-align:left;padding-left:5px'> Mr. D.G.I.S.Deegoda<br><br> Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. H. A. D. S. Buddika<br>Dr. H. D. Yapa </td>
			<td style='text-align:left;padding-left:5px'> Investigation into Durability and Warping Issues in Thin Fiber Cement Sheets </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/22/12</td>
			<td style='text-align:left;padding-left:5px'> Mr. R.S.S.A.Wijesundara<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. K.K.Wijesundara<br>Dr. N.M.S.H.Bandara </td>
			<td style='text-align:left;padding-left:5px'> Retrofitting oh Shear Critical Reinforced Concrete Elements Using UHPFRC Material </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/23/01</td>
			<td style='text-align:left;padding-left:5px'> Mr. E.M.B.M.Ekanayaka<br><br>Chemical & Process Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. Nadessh M. Adasooriya<br>Dr. Aruna Manipura </td>
			<td style='text-align:left;padding-left:5px'> Mechanochemical Synthesis of Urea Cocrystals as a Sustained Release of Nitrogen Source </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/23/02</td>
			<td style='text-align:left;padding-left:5px'> Mr. T. Abirami<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Dr. C.S.Bandara<br>Dr H. D. Yapa<br>Prof. P. B. Dissanayake </td>
			<td style='text-align:left;padding-left:5px'> Investigation on Mechanical  -Microstructural  - thermal Properties and Flexure  -Shear Behaviours of Structural Precast Concrete Elements incorporated with recycled Waste </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/23/03</td>
			<td style='text-align:left;padding-left:5px'> Ms. M. D. R. Nayomi<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Janaka Ekanayake<br>Prof. Lilantha Samaranayake<br>Prof. A. J. Mohotti<br>Dr. Senal Weerasooriya *</td>
			<td style='text-align:left;padding-left:5px'> Utilize the Food - Energy Nexus to Increase the Effectiveness of the land </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/23/04</td>
			<td style='text-align:left;padding-left:5px'> Ms.  M. P. N. T. Meghapathirana<br><br>Electrical & Electronic Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof M. P. B. Ekanayake<br>Prof. G. M. R.I.Godaliyadda<br>Prof. V. R. Herath </td>
			<td style='text-align:left;padding-left:5px'> Analysing the impact of shoe Parameters and Terrain on Human Gait Posture and Body Stability Using a Sensor Based Wearable Device </td>
</tr>

<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'> PG/MPhil/23/05</td>
			<td style='text-align:left;padding-left:5px'> Ms. R. Puvanendran<br><br>Civil Engineering </td>
			<td style='text-align:left;padding-left:5px'> Prof. Roshan G. Ragel<br>Dr. Asanka Sayakkara </td>
			<td style='text-align:left;padding-left:5px'> Detection of Elephants through Infrasonic Calls on Low Recovered Hardware </td>
</tr>

		
		<!--<tr style='height:15pt;vertical-align:top'>
			<td style='text-align:left;padding-left:5px'></td>
			<td style='text-align:left;padding-left:5px'></td>
			<td style='text-align:left;padding-left:5px'></td>
		</tr>-->
	
	</tbody>
</table>


