<div class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title"><b>{{ id ? 'Edit Section' : 'Add New Section' }}</b></h5>
      <span class="close" (click)="closeModal()">&times;</span>
    </div><br>
    
    <div class="modal-form">
      
      <form (ngSubmit)="submitSection()">

        <table style="width: 100%;">
          <tr>
            <td>
              <label for="buttonName" title="This field is required">Section Name:<span class="req" title="This field is required">*</span></label>
            </td>
            <td>
              <input type="text" id="buttonName" [(ngModel)]="buttonName" name="buttonName" placeholder="Section Title..." title="This field is required" required>
            </td>
          </tr>
          
          <tr>
            <td colspan="2">
              <div *ngFor="let tile of tiles; let i = index">
                
               
                <label for="title">Title {{i+1}}:</label>

                <div style="display: flex; align-items: center;">
                  <input type="text" id="title{{i}}" [(ngModel)]="tile.title" name="title{{i}}" placeholder="Tile Title..." required style="width: 70%;">
                
                  <!-- <button type="button" (click)="removeTile(i)">Remove Tile</button> -->
                  <div class="myButtonDesign">
                    <a (click)="removeTile(i)" class="my-button" style="width: 100px; height: 35px; margin-left: 20px;">Remove Tile</a>
                  </div>
                </div>
              
              </div>
            </td>
          </tr>
          
          <br>
          <tr>
            <td></td>
            <td>
              <div style="display: flex;">
                <div class="myButtonDesign">
                  <a (click)="addVivaTile()" class="my-button" style="margin-left: 20px;">Add Viva</a>
                </div>

                <div class="myButtonDesign">
                  <a (click)="addForumTile()" class="my-button" style="margin-left: 20px;">Add Forum</a>
                </div>
                
                <div class="myButtonDesign">
                  <a (click)="addSubmissionTile()" class="my-button" style="margin-left: 20px;">Add Submission</a>
                </div>
              </div>
            </td>
          </tr>

        </table>

        <hr>
        <input *ngIf="!id" type="submit" value="Create" style="width: 40%; float: right;" [disabled]="!buttonName" [title]="!buttonName ? 'Button is disabled because fields are incomplete.' : ''">
        <input *ngIf="id" type="submit" value="Edit" style="width: 40%; float: right;" [disabled]="!buttonName" [title]="!buttonName ? 'Button is disabled because fields are incomplete.' : ''">
        
        
      </form>
    </div>
  </div>

</div>