<div class="topic">
    <h1>Report Submissions</h1>
</div>

<div class = "RegisteredTable">

    <div>
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control" />
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Student Reg. No</th>
                    <th>Student Name</th>

                    <th>Submission Id</th>
                    <th>Submission Title</th>
                    <!-- <th>Submission Type</th> Pre / Final -->
                    <th>Status</th>
                    <th>Submit/ Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of filteredData">
                    <td>{{ row.registrationNumber }}</td>
                    <td>{{ row.nameWithInitials }}</td>
                    <td>{{ row.id }}</td>

                    <!-- <td>{{ row.title }}</td> -->
                    <td>
                        <a [routerLink]="['/afterlog/final-assignment-submission', row.id]">
                            {{ row.title }}
                        </a>
                    </td>

                    <td>{{ row.submissionStatus ? 'Submitted' : 'Not Submitted' }}</td>
                    <td>{{ row.deadline }}</td>
                    
            </tbody>
        </table>
    </div>
    
</div>
<br><br><br><br><br>
