<br>
<div class="profile-box">
    <h3>Reg. No</h3>
    <h5>Name</h5>
    <h5>Programme of Studying</h5>
    <h5>Registered Date</h5>
    <h5>Status</h5>
</div>
<br>

<div class="research-box">
    <h3>Research</h3>
    <br>
    <h6>Effective Date of Degree:</h6>
    <!-- <app-collapsible-section
        buttonName="General"
        [tiles]="[
            { title: 'Forum', routerLink: 'https://example.com/forum' },
            { title: 'Application Submission', routerLink: 'https://example.com/announcements' }
        ]"></app-collapsible-section>

    <app-collapsible-section
        buttonName="First Report"
        [tiles]="[
            { title: 'Add Examiners', routerLink: '#' },
            { title: 'Set deadline', routerLink: '#' },
            { title: 'Feedback', routerLink: '#' }
        ]"></app-collapsible-section> -->
    
    <br>
</div>

<br>
<div class="research-box">
    <h3>Email</h3>
</div>

<br><br><br>