.profile-box{
    background-color: aqua;
    width: fit-content;
    padding: 10px;
    margin-left: 40px;
}

.research-box {
    background-color: aqua;
    width: auto;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}