<br>    
<footer>
    <hr>

    <div style="padding-left: 30px;">
        <p>Department of Computer Engineering, Faculty of Engineering, University of Peradeniya, Sri Lanka<br>
        <i class="fa fa-globe" style="margin-right: 7px;"></i><a href="https://feels.pdn.ac.lk">feels.pdn.ac.lk</a><br>
        <i class="fa fa-envelope" style="margin-right: 7px;"></i><a href="mailto:feels@eng.pdn.ac.lk">feels&#64;eng.pdn.ac.lk</a><br><br>
        Center for Engineering Research and Postgraduate Studies<br>
        <i class="fa fa-globe" style="margin-right: 7px;"></i><a href="https://eng.pdn.ac.lk/cerpsnew/">CERPS</a><br><br>
        University Website<br>
        <i class="fa fa-globe" style="margin-right: 7px;"></i><a href="https://www.pdn.ac.lk/">www.pdn.ac.lk</a></p>
    </div>
    <br>
    
</footer>

